# Backend - ignore venv anywhere
venv/
**/venv/
__pycache__/
**/__pycache__/
*.pyc
.env

# Frontend
node_modules/
**/node_modules/
frontend/build/
frontend/.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/